@import 'src/theme';

.mat-tab-labels {
    border-bottom: 2px solid $accent-alt;
}

.projectCards {
    margin-bottom: 1rem;

    p {
        text-indent: 2rem;
        margin-bottom: 2rem;
    }
    
    img {
        max-width: 600px;
        display: none;

        &.active {
            display: initial;
        }
    }

    button {
        margin-right: 0.5rem;
    }
}