@import 'theme';

html {
    font-size: 20px;
}

html, body, personal-website {
    height: 100%;
}

body {
    margin: 0rem;
}

personal-website {
    display: flex;
    flex-flow: column nowrap;
}

mat-toolbar, footer {
    flex-shrink: 0;
}

mat-sidenav-container {
    flex-grow: 1;
}

mat-toolbar {
    border-bottom: 1px solid #999;
    div {
        flex: 1 1 auto;
        &.nav-link {
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            border-bottom: 0.5rem solid transparent;
            a {
                color: inherit;
                // color: mat-color($foreground, default-contrast);
                // color: black;
                text-decoration: none;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            &:hover {
                border-bottom: 0.5rem solid mat-color($accent);
            }
            &.current-page {
                border-bottom: 0.5rem solid mat-color($primary);
            }
        }
    }
    button[mat-icon-button] {
        display: none;
    }
}

mat-sidenav-container {
    height: 100%;
    mat-sidenav {
        a {
            color: black;
            text-decoration: none;
            border-left: 0.5rem solid transparent;
            border-bottom: 0.2rem solid #999;
            &:first-child {
                border-top: 0.2rem solid #999;
            }
            &:hover {
                border-left: 0.5rem solid mat-color($accent);
            }
            &.current-page {
                border-left: 0.5rem solid mat-color($primary);
            }
        }
    }
    mat-sidenav-content {
        padding: 0.5rem;
    }
}

footer {
    font-size: smaller;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #999;
}

@media only screen and (max-width : 415px) {
    mat-toolbar {
        div.nav-spacer, div.nav-link {
            display: none;
        }
        button[mat-icon-button] {
            display: inherit;
        }
    }

    mat-sidenav-container {
        mat-sidenav {
            padding: 1rem;
            width: 100%;
        }
    }
}