@import '../theme.scss';

h1 {
    color: mat-color($accent-alt);
}

h3 {
    color: mat-color($primary);
}

.default-text-color {
    // color: mat-color($foreground, base);
    color: $foreground;
}

.indent {
    padding-left: 2rem;
}

.indent-2 {
    padding-left: 4rem;
}

.languages-tech {
    display: flex;
    flex-flow: row wrap;

    div {
        color: mat-color($accent);
        flex: 1 1 50%;
    }
}

.otherAchievements {
    color: mat-color($primary-alt);
}